# Maven / Build
target/
.mvn/wrapper/maven-wrapper.jar

# Logs
logs/
*.log

# IDEs
.idea/
*.iml
.vscode/

# OS
.DS_Store

# Database
lims-database/postgres-data/

# Env files (IMPORTANT)
.env
.env.*
**/.env

# Local config (IMPORTANT)
application-dev.properties
application-local.properties

# Java
*.class